.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    margin-top: 5em;
    margin-bottom: 1.5em;
    padding: 0em 3em;

    .column-1 {
        flex: 1
    }

    .column-2 {
        flex: 3
    }
}

.blog-post-container {
    display: flex;
    justify-content: space-evenly;
    margin: 6em 0;
    margin-bottom: 0px;

    .column-1 {
        flex: 1;

        .author-card {
            min-height: 250px;
            max-width: 200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
                img {
                    width: 108px;
                    border-radius: 50%;
                }
            }
        }
    }

    .blog-post {
        flex: 3;
        margin: 0 auto;
        max-width: 550px;

        p {
            line-height: 1.5em;
            font-size: 16px;
        }

        .date-social {
            display: flex;
            justify-content: space-between;

            .icons {
                display: flex;
                justify-content: space-between;
                min-width: 5em;

                a {
                    color: inherit;
                    text-decoration: none
                }
            }
        }
    }

    .column-3 {
        flex: 1;
    }
}



.overlay {
    height: 600px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1414509613498-f53000d3d2c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4em 7em;
    justify-content: flex-end;
    filter: grayscale(100%);
    background-blend-mode: saturation;
    // background-color: #14171a;

    .content {
        display: flex;
        flex: 1;
        max-height: 150px;
        justify-content: space-between;
        flex-direction: column;

        .icons {
            display: flex;
            justify-content: space-between;
            max-width: 5em;
        }

        h1 {
            font-size: 3.5rem;
            margin: 0;
            color: #FFF;
        }

        p {
            color: #FFF;
        }
    }
}

@media only screen and (max-width: 768px) {

    /* For tablets: */
    .overlay {
        height: 300px;
        padding: 4em 6em;

        .content {
            h1 {
                font-size: 3.5rem;
            }
        }
    }

    .container {
        padding: 0em 3em;
    }

    .blog-post-container {
        flex-direction: column-reverse;

        .column-1 {
            .author-card {
                flex-direction: row;
                min-width: 400px;
                margin: 0px;
            }
        }

        .blog-post {
            max-width: 100%;
            padding: 0em 4em;
        }

        .column-3 {
            display: none;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .blog-post-container {

        .blog-post {
            max-width: 100%;
            padding: 0em 1em;
        }
    }

    .container {
        flex-direction: column;
        margin-top: 1em;
        padding: 0em 1.5em;
    }

    .overlay {
        height: 500px;
        padding: 4em 1em;

        .content {
            h1 {
                font-size: 3.5rem;
            }
        }
    }
}